/*
header と footer が近すぎると背景画像が重なるので、main 部分に、ある程度の高さを持たせる
*/
main {
  min-height: 100vh;
}

.el_wholeWrap {
  height: 100%;
}

/*
全体の background image
*/
.hp_backwardBg {
  background-blend-mode: lighten;
  background-color: #ffffff66;
  background-image: url(../images/body_bg.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.hp_FrontwardBg {
  background-blend-mode: lighten;
  background-color: #ffffff00;
  background-image: url(../images/leaf_bird_4k.png),
    url(../images/footer_bg.png);
  background-size: contain, contain;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

/*
上端に fixed してスクロールに追尾する疑似 header の設定
*/
.sticky_header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  transition: transform 0.25s ease-in-out 0s;
  transform: translateY(-100%);
}

/* js で activate されて上から登場したheader のY軸上の座標を指定 */
.sticky_header.js_active {
  transform: translateY(0);
}
/* アドミンバーが存在する場合、その高さ(32px)のぶん、Y軸上座標を修正 */
body:has(#wpadminbar) > .el_relativeCotentWrap > .sticky_header.js_active {
  transform: translateY(32px);
}
/* 横幅782以下ではアドミンバーの高さが46pxになるので、それに合わせてY軸上座標を修正 */
@media screen and (max-width: 782px) {
  body:has(#wpadminbar) > .el_relativeCotentWrap > .sticky_header.js_active {
    transform: translateY(46px);
  }
}
/* 横幅600以下ではアドミンバーが absolute で上端にくっついて上方へ去る挙動となるので、それに合わせてY軸上座標を修正 */
@media screen and (max-width: 600px) {
  body:has(#wpadminbar) > .el_relativeCotentWrap > .sticky_header.js_active {
    transform: translateY(0px);
  }
}

.bl_bg {
  background-image: url(../images/body_bg.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top;
  opacity: 0.8;
}
