/*
header と footer が近すぎると背景画像が重なるので、main 部分に、ある程度の高さを持たせる
*/
main {
  min-height: 100vh;
}

/*
上端に fixed してスクロールに追尾する疑似 header の設定
*/
.bl_stickyHeaderNav {
  visibility: hidden;
  position: fixed;
  top: 0;
  inset-inline: 0;
  transition: transform 0.25s ease-in-out 0s;
  transform: translateY(-100%);
  background-color: #ccffcccc;
  padding-block: 4px;
}
@media screen and (min-width: 1024px) {
  .bl_stickyHeaderNav.js_active {
    visibility: visible;
    transform: translateY(0);
  }
  body:has(#wpadminbar) > .ly_wholeWrap > .bl_stickyHeaderNav.js_active {
    transform: translateY(32px);
  }
}

/*
  ドロワーメニューのボタン(すまほのみ)
*/
.bl_drawerButton {
  top: 0;
}

body:has(#wpadminbar) > .ly_wholeWrap > .bl_drawerButton {
  top: 32px;
}
@media screen and (max-width: 782px) {
  body:has(#wpadminbar) > .ly_wholeWrap > .bl_drawerButton {
    top: 46px;
  }
}
@media screen and (max-width: 600px) {
  body:has(#wpadminbar) > .ly_wholeWrap > .bl_drawerButton {
    top: 0;
  }
}

/* ドロワーボタンの三本バー */
.el_drawerButtonBars_top,
.el_drawerButtonBars_middle,
.el_drawerButtonBars_bottom {
  position: absolute;
  height: 3px;
  width: 80%;
  background-color: white;
  right: 12%;
}
.el_drawerButtonBars_top {
  top: 20%;
}
.el_drawerButtonBars_middle {
  top: 40%;
}
.el_drawerButtonBars_bottom {
  top: 60%;
}

#js_drawerPanel {
  display: none;
}

/* js で activate されて上から登場したheader のY軸上の座標を指定 */
.sticky_header.js_active {
  transform: translateY(0);
}
/* アドミンバーが存在する場合、その高さ(32px)のぶん、Y軸上座標を修正 */
body:has(#wpadminbar) > .ly_wholeWrap > .sticky_header.js_active {
  transform: translateY(32px);
}
/* 横幅782以下ではアドミンバーの高さが46pxになるので、それに合わせてY軸上座標を修正 */
@media screen and (max-width: 782px) {
  body:has(#wpadminbar) > .ly_wholeWrap > .sticky_header.js_active {
    transform: translateY(46px);
  }
}
/* 横幅600以下ではアドミンバーが absolute で上端にくっついて上方へ去る挙動となるので、それに合わせてY軸上座標を修正 */
@media screen and (max-width: 600px) {
  body:has(#wpadminbar) > .el_relativeCotentWrap > .sticky_header.js_active {
    transform: translateY(0px);
  }
}

.bl_bg {
  background-image: url(../images/body_bg.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top;
  opacity: 0.8;
}
